.App {
  background: rgba(34, 34, 34,0.5);
  color: white;
}
.particles-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  display: inline-block;
  text-align: center;
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
